<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>MAN work Sirkovych</title>
</head>
<body>
<br>
<br>
<br>
<div class="container text-center">

    <h1>Welcome!</h1>

    <h4>Sirkovych Sviatoslav’s MAN work </h4>
    <br><br>
    <h4>«Оптимальний вибір упаковки для виробів різної форми » </h4>
    <br><br><br>
    <h3><a th:href="@{/evaluate-form}">Evaluate optimal packing for parallelepiped</a></h3>
    <h3><a th:href="@{/evaluate-cylinder-form}">Evaluate optimal packing for cylinder</a></h3>


</div>

</body>
</html>
